@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Montserrat';
    color: #fff;
}
*::-webkit-scrollbar {
    width: 15px;
}
*::-webkit-scrollbar-track {
    background: black;
}
*::-webkit-scrollbar-thumb {
    background: aqua;
    border-radius: 5px;
}
body {
    background: #000;
}
.wrapper {
    max-width: 1743px;
    margin: 0 auto;
    padding: 0 2rem;
}
.active {
    color: #00FFFF;
    border-bottom: 0.1rem solid #00FFFF;
}
.hidden {
    display: none;
}
.loader {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap:0.5rem;
}
.loader h1 {
    font-size: 2rem;
}
.loader span {
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 50%;
    border-left: 0.1rem solid #000;
    animation: animate 1s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* ==============header start============= */
.leftContent {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background: #333;
    left: 0;
}
.leftContent .mark {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #ffff;
}
.leftContent .leftContact a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
    font-size: rem;
}
.leftContent .leftContact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
    gap: 10px;
}
.leftContent .leftContact .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: #fff;
}
.leftContent .leftLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}
.leftContent .leftLogo ul li {
    list-style: none;
    line-height: 1.5rem;
}
.leftContent .leftLogo ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}
.leftContent .leftLogo ul li a::after {
    content: '';
    position: absolute;
    background: aqua;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -9px;
    transition: 0.4s;
    
}
.leftContent .leftLogo ul li a:hover::after {
    width: 100%;
}
.leftContent .leftLang .evro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    display: none;
}
.leftContent .leftLang .evro img {
    width: 1.9rem;
    height: 1.9rem;
}
.leftContent .leftLang {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
}
.leftContent .leftLang .uz {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.leftContent .leftLang .uz i {
    font-size: 1.5rem;
    color: #fff;
}
.leftContent .leftSign {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 5vh;
}
.leftContent .leftSign .sinin {
    color: #999;
    text-decoration: none;
}
.leftContent .leftSign .login {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #000;
    text-decoration: none;
}
/* =================================== */

.headerContact .headerContact {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.headerContact .headerContact a {
    color: #999;
    text-decoration: none;
}
.headerContact .headerContact .icons {
    color: #fff;
    display: flex;
    gap: 1rem;
}
.header .navbar {
    width: 100%;
}
.header .navbar .Logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navbar .Logo ul {
    display: flex;
    gap: 1rem;
}
.header .navbar .Logo ul li {
    list-style: none;
}
.header .navbar .Logo ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    position: relative;
}
.header .navbar .Logo ul li a::after {
    content: '';
    position: absolute;
    background: aqua;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.header .navbar .Logo ul li a:hover::after {
    width: 100%;
}
.header .navbar .Logo .Lang .uz {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1.5rem;
}
.header .navbar .Logo .Lang .uz .uzIcon {
    display: flex;
    align-items: center;
}
.header .navbar .Logo .Lang .uz i {
    color: #fff;
}
.header .navbar .Logo .Lang .evro {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: none;
}
.header .navbar .Logo .Lang .evro img {
    width: 1.5rem;
}
.header .navbar .Logo .Sign {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.header .navbar .Logo .Sign .sinin {
    color: #999;
    text-decoration: none;
}
.header .navbar .Logo .Sign .login {
    background: #00FFFF;
    padding: 0.2rem;
    border-radius: 0.3rem;
    color: #000;
    text-decoration: none;
}
.header .navbar .Logo .bars i {
    color: #fff;
    font-size: 1.5rem;
    border: 0.1rem solid white;
    padding: 0.3rem;
    border-radius: 0.3rem;
    display: none;
}
.titleTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 1rem;
}
.titleTop h1 {
    font-size: 3rem;
}

.webSite {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin-top: 4rem;
}
.webSite .webTitle h1 {
    font-size: 3rem;
}
.webSite .webTitle {
    text-align: center;
}
.webSite .webBox {
    margin-top: 2rem;
}
.webSite .webBox video {
    width: 100%;
    border-radius: 1rem;
    
}
.webSite .webBox .Box1 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.webSite .webBox .Box1 .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.webSite .webBox .Box1 .desc .webBtn {
    /* background: #00FFFF; */
    border: 2px solid #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
}
.webSite .webBox .Box1 .desc .webBtn:hover {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.webSite .webBox .Box1 .desc .webBtn:hover a {
    color: #000;
}
.webSite .webBox .Box1 .desc .webBtn a {
    /* color: #000; */
    text-decoration: none;
}
.webSite .webBox .Box1 .desc span {
    color: red;
}
.webSite .webBox .Box2 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
}
.webSite .webBox .Box2 .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.webSite .webBox .Box2 .desc .webBtn {
    /* background: #00FFFF; */
    border: 2px solid #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
}
.webSite .webBox .Box2 .desc .webBtn:hover {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.webSite .webBox .Box2 .desc .webBtn:hover a {
    color: #000;
}
.webSite .webBox .Box2 .desc .webBtn a {
    /* color: #000; */
    text-decoration: none;
}
.webSite .webBox .Box2 .desc span {
    color: red;
}
.webSite .btnDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;   
}
.webSite .btnDesc a:hover {
    background: #00FFFF;
    color: #000;
}
.webSite .btnDesc a {
    border: 2px solid #00FFFF;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 1s;
}
.starts {
    background: orange;
    border-radius: 50%; 
}
.href {
    height: 0.3rem;
    width: 100%;
    background: #999;
}
/* ===============web sites================ */


.webDizayn {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin-top: 40rem;
}

.webDizayn .webTitle h1 {
    font-size: 3rem;
}
.webDizayn .webTitle {
    text-align: center;
}
.webDizayn .webBox {
    margin-top: 2rem;
}
.webDizayn .webBox img {
    width: 100%;
    border-radius: 1rem;
    
}
.webDizayn .webBox .Box1 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.webDizayn .webBox .Box1 .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.webDizayn .webBox .Box1 .desc .webBtn {
    /* background: #00FFFF; */
    border: 2px solid #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
}
.webDizayn .webBox .Box1 .desc .webBtn:hover {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.webDizayn .webBox .Box1 .desc .webBtn:hover a {
    color: #000;
}
.webDizayn .webBox .Box1 .desc .webBtn a {
    /* color: #000; */
    text-decoration: none;
}
.webDizayn .webBox .Box1 .desc span {
    color: red;
}
.webDizayn .webBox .Box2 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
}
.webDizayn .webBox .Box2 .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.webDizayn .webBox .Box2 .desc .webBtn {
    /* background: #00FFFF; */
    border: 2px solid #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
}
.webDizayn .webBox .Box2 .desc .webBtn:hover {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.webDizayn .webBox .Box2 .desc .webBtn:hover a {
    color: #000;
}
.webDizayn .webBox .Box2 .desc .webBtn a {
    /* color: #000; */
    text-decoration: none;
}
.webDizayn .webBox .Box2 .desc span {
    color: red;
}
.webDizayn .btnDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;   
}
.webDizayn .btnDesc a:hover {
    background: #00FFFF;
    color: #000;
}
.webDizayn .btnDesc a {
    border: 2px solid #00FFFF;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 1s;
}
.starts {
    background: orange;
    border-radius: 50%; 
}





/* =============web game================ */
.webGame {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin-top: 40rem;
}

.webGame .webTitle h1 {
    font-size: 3rem;
}
.webGame .webTitle {
    text-align: center;
}
.webGame .webBox {
    margin-top: 2rem;
}
.webGame .webBox video {
    width: 100%;
    border-radius: 1rem;
    
}
.webGame .webBox .Box1 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.webGame .webBox .Box1 .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.webGame .webBox .Box1 .desc .webBtn {
    /* background: #00FFFF; */
    border: 2px solid #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
}
.webGame .webBox .Box1 .desc .webBtn:hover {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.webGame .webBox .Box1 .desc .webBtn:hover a {
    color: #000;
}
.webGame .webBox .Box1 .desc .webBtn a {
    /* color: #000; */
    text-decoration: none;
}
.webGame .webBox .Box1 .desc span {
    color: red;
}
.webGame .webBox .Box2 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
}
.webGame .webBox .Box2 .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.webGame .webBox .Box2 .desc .webBtn {
    /* background: #00FFFF; */
    border: 2px solid #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
}
.webGame .webBox .Box2 .desc .webBtn:hover {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.webGame .webBox .Box2 .desc .webBtn:hover a {
    color: #000;
}
.webGame .webBox .Box2 .desc .webBtn a {
    /* color: #000; */
    text-decoration: none;
}
.webGame .webBox .Box2 .desc span {
    color: red;
}
.webGame .btnDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;   
}
.webGame .btnDesc a:hover {
    background: #00FFFF;
    color: #000;
}
.webGame .btnDesc a {
    border: 2px solid #00FFFF;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 1s;
}
.starts {
    background: orange;
    border-radius: 50%; 
}

/* ============mobile apk======================= */

.mobileApk {
    width: 100%;
    height: 30vh;
    margin-top: 40rem;
}

.mobileApk .webTitle h1 {
    font-size: 3rem;
}
.mobileApk .webTitle {
    text-align: center;
}
.mobileApk .webBox {
    margin-top: 2rem;
}
.mobileApk .webBox video {
    width: 100%;
    border-radius: 1rem;
    
}
.mobileApk .webBox .Box1 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.mobileApk .webBox .Box1 .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.mobileApk .webBox .Box1 .desc .webBtn {
    border: 2px solid #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
}
.mobileApk .webBox .Box1 .desc .webBtn:hover {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.mobileApk .webBox .Box1 .desc .webBtn:hover a {
    color: #000;
}
.mobileApk .webBox .Box1 .desc .webBtn a {
    text-decoration: none;
}
.mobileApk .webBox .Box1 .desc span {
    color: red;
}
.mobileApk .webBox .Box2 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
}
.mobileApk .webBox .Box2 .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.mobileApk .webBox .Box2 .desc .webBtn {
    border: 2px solid #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
}
.mobileApk .webBox .Box2 .desc .webBtn:hover {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.mobileApk .webBox .Box2 .desc .webBtn:hover a {
    color: #000;
}
.mobileApk .webBox .Box2 .desc .webBtn a {
    text-decoration: none;
}
.mobileApk .webBox .Box2 .desc span {
    color: red;
}
.mobileApk .btnDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;   
}
.mobileApk .btnDesc a:hover {
    background: #00FFFF;
    color: #000;
}
.mobileApk .btnDesc a {
    border: 2px solid #00FFFF;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 1s;
}
/* =================3d max===================== */
.DMax {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin-top: 40rem;
}

.DMax .webTitle h1 {
    font-size: 3rem;
}
.DMax .webTitle {
    text-align: center;
}
.DMax .webBox {
    margin-top: 2rem;
}
.DMax .webBox img {
    width: 100%;
    border-radius: 1rem;
    
}
.DMax .webBox .Box1 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.DMax .webBox .Box1 .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.DMax .webBox .Box1 .desc .webBtn {
    /* background: #00FFFF; */
    border: 2px solid #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
}
.DMax .webBox .Box1 .desc .webBtn:hover {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.DMax .webBox .Box1 .desc .webBtn:hover a {
    color: #000;
}
.DMax .webBox .Box1 .desc .webBtn a {
    /* color: #000; */
    text-decoration: none;
}
.DMax .webBox .Box1 .desc span {
    color: red;
}
.DMax .webBox .Box2 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
}
.DMax .webBox .Box2 .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #999;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.DMax .webBox .Box2 .desc .webBtn {
    /* background: #00FFFF; */
    border: 2px solid #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s;
}
.DMax .webBox .Box2 .desc .webBtn:hover {
    background: #00FFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.DMax .webBox .Box2 .desc .webBtn:hover a {
    color: #000;
}
.DMax .webBox .Box2 .desc .webBtn a {
    /* color: #000; */
    text-decoration: none;
}
.DMax .webBox .Box2 .desc span {
    color: red;
}
.DMax .btnDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;   
}
.DMax .btnDesc a:hover {
    background: #00FFFF;
    color: #000;
}
.DMax .btnDesc a {
    border: 2px solid #00FFFF;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 1s;
}
.starts {
    background: orange;
    border-radius: 50%; 
}

/* ====================hamkorlar================== */

/* ==============slider=========================== */

.hamkorSlider {
    display: flex;
    width: 100%;
    height: 60vh;
    overflow-x: hidden;
    margin-top: 30rem;
}
.hamkorSlider .slider {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    animation: slider 10s linear infinite;
}
@keyframes slider {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.hamkorSlider .slider img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* ========================footer================= */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    gap: 2rem;
    flex-direction: column;
}
.footer .footerBlog {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    gap: 2rem;
    flex-direction: column;
}
.footer .footerBlog .footerImg img {
    width: 100%;
}
.footer .footerBlog .footerTitle h1 {
    font-size: 2.5rem;
}
.footer .footerBlog .footerTitle p {
    font-size: 1.5rem;
}
.footer .footerBlog .footerBtn a {
    color: black;
    text-decoration: none;
    background: aqua;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: all 0.5s;

}
.footer .footerBlog .footerBtn a:hover {
    letter-spacing: 0.1rem;
}
.footer .footerBlog .footerDesc {
    display: flex;
    align-items: center;
    gap: 1rem;
}

























/* =====================mobile================== */
@media (max-width: 1300px) {
    .header .navbar .Logo {
        flex-direction: column;
    }
    .header .navbar .Logo .Lang {
        display: none;
    }
    .header .navbar .Logo .Sign {
        display: none;
    }
}
@media (max-width: 950px) {
    .webDizayn {
        margin-top: 1rem;
    }
    .webGame {
        margin-top: 1rem;
    }
    .mobileApk {
        margin-top: 1rem;
        height: 60vh;
    }
    .DMax {
        margin-top: 1rem;
        height: 0;
    }
    .hamkorSlider {
        margin-top: 60rem;
    }
}
@media (max-width: 870px) {
    .header .navbar .Logo ul {
        display: none;
    }
    .header .navbar .Logo .bars i {
        display: block;
    }
    .header .navbar .Logo {
        flex-direction: row;
    }
    .hamkorSlider {
        margin-top: 60rem;
    }

}
@media (max-width: 850px) {
    .webDizayn {
        margin-top: 15rem;
    }
    .webGame {
        margin-top: 15rem;
    }
    .mobileApk {
        margin-top: 15rem;
        height: 0;
    }
    .DMax {
        margin-top: 45rem;
        height: 0;
    }
}
@media (max-width: 800px) {
    
    .webSite {
        height: 30vh;
    }
    .webSite .webBox .Box1 {
        flex-direction: column;
        width: 100%;
    }
    
    .webSite .webBox .Box2 {
        flex-direction: column;
        width: 100%;
    }
    .webSite .webTitle h1 {
        font-size: 1.5rem;
    }
    .titleTop h1 {
        font-size: 1.5rem;
    }

    .webDizayn .webBox .Box1 {
        flex-direction: column;
        width: 100%;
    }
    .webDizayn .webBox .Box2 {
        flex-direction: column;
        width: 100%;
    }
    .webDizayn .webTitle h1 {
        font-size: 1.5rem;
    }
    .titleTop h1 {
        font-size: 1.5rem;
    }

    /* ======= */
    .webGame .webBox .Box1 {
        flex-direction: column;
        width: 100%;
    }
    .webGame .webBox .Box2 {
        flex-direction: column;
        width: 100%;
    }
    .webGame .webTitle h1 {
        font-size: 1.5rem;
    }
    /* =============== */

    .mobileApk .webBox .Box1 {
        flex-direction: column;
        width: 100%;
    }
    .mobileApk .webBox .Box2 {
        flex-direction: column;
        width: 100%;
    }
    .mobileApk .webTitle h1 {
        font-size: 1.5rem;
    }
    /* =============== */
    .DMax .webBox .Box1 {
        flex-direction: column;
        width: 100%;
    }
    .DMax .webBox .Box2 {
        flex-direction: column;
        width: 100%;
    }
    .DMax .webTitle h1 {
        font-size: 1.5rem;
    }
}
@media (max-width: 780px) {
    .webDizayn {
        width: 100%;
        height: 100vh;
        margin-top: 220rem;
    }
    .webGame {
        width: 100%;
        height: 60vh;
        margin-top: 190rem;
    }
    .mobileApk {
        width: 100%;
        height: 30vh;
        margin-top: 220rem;
    }
    .DMax {
        width: 100%;
        height: 30vh;
        margin-top: 110rem;
    }
    .hamkorSlider {
        margin-top: 240rem;
    }
}
@media (max-width: 550px) {
    .webDizayn {
        width: 100%;
        height: 30vh;
        margin-top: 190rem;
    }
    .webGame {
        height: 0vh;
    }
    .mobileApk {
        height: 0vh;
    }
    .DMax {
        height: 0vh;
    }
    .hamkorSlider {
        margin-top: 205rem;
    }
    .footer .footerBlog .footerTitle h1 {
        font-size: 1.5rem;
    }
    .footer .footerBlog .footerTitle p {
        font-size: 1rem;
    }
    .footer .footerBlog .footerDesc {
        display: flex;
        align-items: center;
        gap: 0.1rem;
        flex-direction: column;
    }
    .footer .footerBlog .footerBtn a {
        color: black;
        text-decoration: none;
        background: aqua;
        padding: 0.5rem 1.5rem;
        border-radius: 1rem;
        transition: all 0.5s;
        font-size: 10px;
    }
    .footer .footerBlog .footerBtn a:hover {
        letter-spacing: 0.1rem;
    }
}
@media (max-width: 450px) {
    .webDizayn {
        margin-top: 165rem;
    }
    .webGame {
        margin-top: 165rem;
    }
    .mobileApk {
        margin-top: 180rem;
    }
    .DMax {
        margin-top: 90rem;
    }
    .hamkorSlider {
        margin-top: 180rem;
    }
}
@media (max-width: 380px) {
    .headerContact {
        display: none;
    }
    .header .navbar .Logo {
        padding: 1rem  0;
    }
    .header .navbar .Logo img {
        width: 6rem;
    }
    .leftContent .leftLogo img {
        width: 6rem;
    }
    .webDizayn {
        width: 100%;
        height: 0vh;
        margin-top: 160rem;
    }
    .webGame {
        width: 100%;

        height: 30vh;
        margin-top: 170rem;
    }
    .mobileApk {
        width: 100%;
        height: 30vh;
        margin-top: 160rem;
    }
    .DMax {
        width: 100%;
        height: 30vh;
        margin-top: 75rem;
    }
    .hamkorSlider {
        margin-top: 170rem;
    }
}